---

---

<header
  class="py-6 px-4 sm:px-8 max-w-5xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6 text-slate-800 dark:text-slate-100"
>
  <a
    href="/"
    class="text-2xl sm:text-3xl font-bold tracking-tight hover:text-blue-600 transition-colors text-center md:text-left"
  >
    Steve R Gibson
  </a>
  <nav class="mt-2 md:mt-0">
    <ul class="flex space-x-6 text-base font-medium">
      <li>
        <a href="/" class="hover:text-blue-600 transition-colors">Home</a>
      </li>
      <li>
        <a href="#resume" class="hover:text-blue-600 transition-colors"
          >Resume</a
        >
      </li>
      <li>
        <a href="#contact" class="hover:text-blue-600 transition-colors"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
