---

---

<header
  class="py-6 px-4 sm:px-8 max-w-5xl mx-auto flex justify-center items-center text-slate-800 dark:text-slate-100"
>
  <nav>
    <ul class="flex space-x-6 text-base font-medium">
      <li>
        <a href="/" class="hover:text-blue-600 transition-colors">Home</a>
      </li>
      <li>
        <a href="/#resume" class="hover:text-blue-600 transition-colors"
          >Resume</a
        >
      </li>
      <li>
        <a href="/#contact" class="hover:text-blue-600 transition-colors"
          >Contact</a
        >
      </li>
      <li>
        <a href="/blog" class="hover:text-blue-600 transition-colors">Blog</a>
      </li>
    </ul>
  </nav>
</header>
